.create-post-button {
  position: fixed;
  bottom: 20px;
  right: 80px;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-post-button:hover {
  background-color: #0e71a8;
}

.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3ccc10;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-button :hover {
  background-color: #0e71a8;
}
