@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply w-[40px] h-[40px] rounded-full flex items-center justify-center active:bg-dark_hover_1;
  }
  .btn_secondary {
    @apply w-[45px] h-[45px] rounded-full flex items-center justify-center bg-dark_bg_2;
  }
  .p16 {
    @apply px-[16px];
  }
  .textPrimary {
    font-size: 16px;
    line-height: 21px;
    @apply text-dark_text_1;
  }
  .textSecondary {
    font-size: 14px;
    line-height: 19px;
    @apply text-dark_text_2;
  }
  .input {
    @apply w-full dark:bg-dark_bg_2 p-1.5 dark:text-dark_text_1 rounded-lg flex-1 outline-none;
  }
  .rotateAnimation {
    animation: rotate 0.3s forwards;
  }
  .overflow_scrollbar {
    height: calc(100vh - 155px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .custom-emoji-icon {
    color: #864af9;
  }
  .emojiPickerAnimation {
    animation: openAn 0.1s forwards;
  }
  .callbg {
    background-image: linear-gradient(black, black),
      url(https://res.cloudinary.com/dmhcnhtng/image/upload/v1677358270/Untitled-1_copy_rpx8yb.jpg);
    background-size: cover;
    background-blend-mode: saturation;
  }
  .largeVideoCall {
    @apply absolute top-0 bottom-0 left-0 right-0 z-20 object-cover h-full  cursor-pointer;
  }
  .smallVideoCall {
    @apply w-28 h-32 object-cover absolute bottom-4 right-2 z-30 bg-blue-500 cursor-pointer rounded-lg;
  }
  .moveVideoCall {
    @apply bottom-32 transition-all duration-100;
  }
  .moveActionsComp {
    @apply block;
  }
}

::-webkit-scrollbar {
  width: 5px; /* Set your desired width */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Change color on hover */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #ddd; /* Set the color of the scrollbar handle */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the color of the scrollbar track */
}

.trending-posts-scroll {
  overflow-y: hidden;
}

.trending-posts-scroll:hover {
  overflow-y: auto;
}

.trending-posts-container {
  /* Add styling to the container if needed */
}

.trending-posts-scroll {
  max-height: calc(100vh - 160px); /* Adjust the max-height as needed */
  overflow-y: auto;
}

.sticky-top {
  position: sticky;
  top: 80px; /* Adjust the top value as needed */
}
.convos {
  height: calc(100vh - 220px);
  overflow-y: auto;
  overflow-x: hidden;
}

/*----Custom scrollbar----*/
/*--Width--*/
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
/*--T
  /*--Track--*/
.scrollbar::-webkit-scrollbar-track {
  background: #888;
}
/*--Thumb--*/
.scrollbar::-webkit-scrollbar-thumb {
  background: #444e54;
}

.epr-search-container input {
  background: #222e35 !important;
  border-radius: 0 !important;
  border: none !important;
  font-size: 13px;
}
.epr-preview {
  display: none !important;
}
.epr-emoji-category-label {
  background: transparent !important;
  font-size: 15px;
  font-weight: normal !important;
}
/*--- Emoji Scroollbar
  /* width */
.epr-body::-webkit-scrollbar {
  width: 6px !important;
}

/* Track */
.epr-body::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
.epr-body::-webkit-scrollbar-thumb {
  background: #4d5052 !important;
}
.epr-category-nav {
  padding: 10px 0 !important;
}
.epr-category-nav .epr-active::after {
  content: "";
  width: 140px;
  height: 4px;
  background: #00a884;
  position: absolute;
  bottom: -10px;
  left: -55px;
}
.epr-header {
  display: flex;
  flex-direction: column-reverse;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.typing-icon {
  animation: bounce 1s infinite;
}
